<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Supplier</title>
</head>
<body>
    <h1>Add New Supplier</h1>
    <form action="/add-supplier" method="post">
        id_: <input type="number" name="id_" required>
        name: <input type="text" name="name" required>
        email: <input type="text" name="email" required>
        <input type="submit" value="Add Supplier">
    </form>
    <a href="/show-tables">Click here to verify after submitting using show tables</a>
    <a href="/">Back to Home</a>
</body>
</html>

